@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
font-style: normal;
margin-left: 20px;
}.flaticon-approve1:before {
	content: "\e000";
}
.flaticon-biceps:before {
	content: "\e001";
}
.flaticon-burger8:before {
	content: "\e002";
}
.flaticon-charcoal:before {
	content: "\e003";
}
.flaticon-download16:before {
	content: "\e004";
}
.flaticon-dumbbell18:before {
	content: "\e005";
}
.flaticon-empty7:before {
	content: "\e006";
}
.flaticon-little:before {
	content: "\e007";
}
.flaticon-paralympic15:before {
	content: "\e008";
}
.flaticon-shopping11:before {
	content: "\e009";
}
.flaticon-simple36:before {
	content: "\e00a";
}
.flaticon-sportive10:before {
	content: "\e00b";
}
.flaticon-unlock5:before {
	content: "\e00c";
}
.flaticon-weightlift:before {
	content: "\e00d";
}
.flaticon-weightlifting2:before {
	content: "\e00e";
}
