{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <!-- JUMBOTRON -->
    <div class="jumbotron" style="background-image: url('{{ STATIC_URL }}img/road.jpg')">
        <div class="container">
            <h1 class="">Sqvat is the body-building site of your dreams</h1>
            <p class="">It has everything you want and much more Lorem ipsum la a hello to be a very good site contsains staff yolo swag sqvat this is a place holder so i will see the image I am a cheeter</p>
            <br>
            <a class="btn btn-primary btn-lg">Get Started</a>
        </div>

    </div>

    <!-- REST -->
    <div class="container">
    <div>
        <div class="row">

    </div>
    </div>


    <div class="row">
        <h1 class="text-center">It has ton of great features</h1>
        <hr>
        <div class="col-md-3">
            <h3>All about training</h3>
            <p>with pre made workouts,execrises and explantions from the best</p>
            <a class="btn btn-primary">more</a>
        </div>

        <div class="col-md-3">
            <h3>All about eating</h3>
            <p>with ton of recepies tips and tutorials that you need</p>
            <a class="btn btn-primary">more</a>
        </div>

        <div class="col-md-3">
            <h3>Supplyments</h3>
            <p>all the supplements you can think of with all the details you need</p>
            <a class="btn btn-primary">more</a>
        </div>

        <div class="col-md-3">
            <h3>Motivation</h3>
            <p>motivation for you to keep going and helping you when you need it the</p>
            <a class="btn btn-primary">more</a>
        </div>
    </div>

    <div class="featurette">

    </div>
    </div>


{% endblock %}